/* .div_icon {
    position: fixed;
    top: 88%;
    right: 4%;
    display: none;
}


.div_icon a{
    font-size: 68px;
    text-decoration: none;
}

.div_icon span{position: relative;
    top: -29px;
    font-size: 18px;
    color: dodgerblue;

} */
